html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 100;
}
body{
    width: 100%; max-width: 1000px; padding: 0px; margin-left: auto; margin-right: auto; min-height: 500px; background-repeat: repeat-x; 
    background-color: #9c96f5;
}
.landing{
    color: #ffffff; text-decoration: none; font-size: 1.15rem; position: relative; top: 25px; left: 30px;
}

/* navigation and icon styling starts here */
.container{
    text-align: right; position: relative; top: -30px;
}
nav ul li a{
     color: white; text-decoration: none; text-align: center; font-size: 1.1rem; 
}
nav ul li a:link{
    color: #ffffff;
}
nav ul li a:hover{
    color: #0000ff
}
nav ul li{
    display: inline-block; padding: 15px; 
}
.top_nav .icon_menu .icon{
        position: absolute; top: 0; right: 5%; padding: 3rem 0; cursor: pointer; transition: all 0.5s; display: none;
}
.icon i:last-child{
    position: fixed; top: 8%; right: 5%; display: block;  transition: all 0.5s;
}
.border{
    border: 1px solid #f50808; padding: 5px; border-radius: 5px;
}
/* navigation styling ends here */

/* form section starts here */
.right_section{
    background-color: #ffffff; color: #2f2d2d; box-shadow: 5px 5px 15px rgba(19, 18, 18, 0.5); border-radius: 0.5rem; width: 30%; 
    margin: 9rem auto 2rem auto;
}
.right_section h2{
       text-align: center; font-weight: 100; margin-top: 2rem; font-size: 1.7rem;
}
.form_section input, .form_section select{
    width: 90%; background-color: rgba(200, 197, 197, 0.3); border-radius: 0.2rem; padding: 10px 10px; margin-bottom: 1rem; border: none;
}
.form_section select{
    width: 98%;
}
.form_section form{
    text-align: center; padding: 0px 20px 30px 20px;
}
.form_section input:focus{
    background-color: #000000; color: white;
}
select{
    width: 100%; padding: 7px; ; background-color: #e2dddd; border: none; border-radius: 3px;
}
#submit{
    text-align: center; width: 90%; padding: 8px; border-radius: 20px; background-color: blue; border: none; color: white; box-shadow: 2px 2px 10px #000000c0;
}
/* form section ends here */

/* main content styling */
.clearfix{
    display: flex; margin: auto;
}
section{
    margin: 6rem 0;
}

.left_section{
    width: 40%; margin-left: 3%; margin-right: 10%;
}
.left_section h2{
    color: white; font-size: 4rem; padding-right: 40px; font-size: 2.5rem; font-weight: 100;
}
.left_section p{
    color: white; font-size: 1.2rem;
}
.left_section p a{
    color: #bebcbc; text-decoration: none; transition: color 0.5s;
}
.left_section p a:hover{
    color: #4a5acd;
}
.pricing_btn{
    padding: 8px 20px; background-color: #04bb04; border-radius: 20px; color: #ffffff; box-shadow: 2px 2px 8px #000000; border: none; 
    cursor: pointer;
}

/* media querries */
@media screen and (max-width:650px){
    .top_nav .icon_menu .icon{
        display: block;
    }
    .icon i:last-child{
        display: none;
    }
    .top_nav nav{
        position: fixed; top: 0; left: 0; z-index: 1; width: 80%;  min-height: 100vh; background-color: #000; color: white; text-align: left;
        padding-right: 10px; margin-left: -20px; display: none; padding-top:2.5rem;
    }
    .top_nav nav ul li{
        list-style: none; border-bottom: 1px solid #4574d4; transition: 0.6s; display: block; padding-left: 0px; margin-bottom: 3rem; padding-bottom: 5px;
    }
    .top_nav nav ul li:hover{
        border-bottom: 1px solid #ffffff;
    }
    .top_nav nav ul li a{
        font-size: 1.1rem; text-transform: uppercase; transition: 0.6s; display: block; text-align: left;
    }
    .top_nav nav ul li a:hover{
        color: #4574d4;
    }
    .border{
        border: none; padding: 0px;
    }
    .landing{
        position: relative; top: 40px;
    }
    .form_section{
        position: relative; left: 2%;
    }
    .clearfix{
        display: block; content: ""; clear: both; display: both;
    }
    .left_section, .right_section{
        width: 70%; margin-left: auto; margin-right: auto; 
    }
    .right_section{
        margin-top: auto;
    }
    .right_section h2{
        padding: 40px 10px 0 10px;
    }
    footer{
    background-color: #ffffff; padding: 5rem 0px; position: relative; bottom: -10px;
    clip-path: polygon(0 45%, 100% 0, 100% 100%, 0 100%);
    }
    .open .fa-times{
    display: block !important; 
    }
   .open .fa-bars{
    display: none !important;
    }
    .open nav{
        display: block !important;
    }
}
